.u-text-center {
    text-align: center !important;
}

.u-m-bottom-big {
    margin-bottom: 8rem !important;
}

.u-m-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-m-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-m-top-big {
    margin-top: 8rem !important;
}

.u-m-top-huge {
    margin-top: 10rem !important;
}